
.plus-btn{
    background-color: #FF893D;
    border: none;
    color: white;
    border-radius: 50%;
    width: 80px;  
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 150px;
}

.plus-btn:hover{
    color: white;
    background-color: #ff8000;
}
