.color-btn{
    background-color: #FF893D;
    border: none;
}

.color-btn:hover{
    opacity: 0.8;
    background-color: #FF893D;
}

.font-color{
    color: #FF893D;
}

.font-color:hover{
    color: #ff6600;
}

button[type]:active, button[type]:focus{
    border: none;
    outline: none;
}